<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<%= bootstrap_form_for(:expense, url: expense_index_path, method: 'Post',:html=> {:id => 'main-expense-form'}) do |f| %>
	<p class="text-success"></p>
	<div class='expense-header'>
		<span class="title"><abbr title=""> <h3><small>Add amount</small></h3></abbr></span>
		<span class="subtitle input-sm" id="display-amount"><small></small></span>		
	</div>

	<span id="reset-money" class="btn btn-default"><span class="glyphicon" aria-hidden="true">RESET</span></span>
	<% @amount_list.each_with_index do |amount,index|%>
		<span id="amount" class="amount btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true">		
		<%=amount.amount%></span></span>
	<% end %>

	<button  type="button" id='add-money-button' class="btn btn-default" data-toggle="modal" data-target="#add-money-form"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>

	<%=f.datetime_select(:date )%>
	<div class='expense-header'>
		<span class="title"><abbr title=""> <h3><small>Select Category</small></h3></abbr></span>
		<span class="subtitle input-sm" id="display-category"><small></small></span>
	</div>
	
	
	<span id="reset-category" class="btn btn-default"><span class="glyphicon" aria-hidden="true">RESET</span></span>
	<% @category_list.each_with_index do |category,index|%>
		<span id="category#{index}" class="category btn btn-default"><span class="glyphicon" aria-hidden="true"><%=category.name%></span></span>
	<% end %>

	<button type="button" id='add-category' class="btn btn-default" data-toggle="modal" data-target="#add-sub-category-form"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
	
	<br>
	<%= f.submit 'Submit Expense', id: 'main-expense-submit-button', class: 'btn btn-primary center-block' %>
<% end %>

<%= render :partial=>'add_amount_form'%>
<%= render :partial=>'add_sub_category_form'%>
</body>
</html>