<div class="report-filter container-fluid report_style">
    <%= form_for(:report, :url => report_view_path, :method => 'POST') do |f| %>
        <div class="form-group col-xs-6 " style="margin-bottom:0">
          <%= f.check_box "category[food]" %>
          <label>Food</label>
        </div>
        <div class="form-group col-xs-6" style="margin-bottom:0">
          <%= f.check_box "category[:giving_check]" %>
          <label>Giving</label>
        </div>        
        <div class="form-group col-xs-6" style="margin-bottom:0">
          <%= f.check_box "category[:shelter_check]" %>
          <label>Shelter</label>
        </div>
        <div class="form-group col-xs-8" style="margin-bottom:0">
          <%= f.check_box "category[:utilities_check]" %>
          <label>Utilities</label>
        </div>
        <div class="form-group col-xs-6" style="margin-bottom:0">
          <%= f.check_box "category[:transportation_check]" %>
          <label>Transportation</label>
        </div>

        <div class="form-group col-xs-4" style="margin-bottom:0">
          <label>Savings</label>
          <%= f.radio_button 'mode', 'savings' %>
          <label>Expenses</label>
          <%= f.radio_button 'mode', 'expenses' %>          
        </div>
        <div> <input type="text" name="date" class='datepicker' ></div>
        <div class="form-group col-xs-6" style="margin-bottom:0">
          <%= f.submit "Apply", class: "btn btn-primary apply-button" %>
        </div>
    <% end %>
  </div>

<div id="chart"></div>
<div id="chart-category" style="margin-top:20px ">
  <script>
      var columns = <%= @month_expenses.to_json.html_safe %>;
      var chart = c3.generate({
          bindto: '#chart-category',
          data: {
              columns: columns,
              type: 'bar'
          },
          bar: {
              width: {
                  ratio: 0.5
              }
          }
      });
      $(document).ready(function(){
        $('.datepicker').datepicker();
      });
  </script>
</div>